<footer class="footer">
	<span class="footer__copyright">本站点采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a></span>
    <span class="footer__copyright">Theme by<a href="https://github.com/onevcat/vno"> Vno </a> Powered by <a href="https://ghost.org/"> Ghost </a></span>
    <span class="footer__copyright"><a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">粤ICP备15020122号-1</a>      &copy; {{date format="YYYY"}}  All rights reserved.</span>
    <span class="footer__copyright">感谢<a href="http://onevcat.com/"> @onevcat </a></span>
</footer>